body{
    background-color: rgb(219, 221, 219);
}

.card{
    margin-top: 2em;
    width: 18rem;
}

#cardDiv, #darkCardDiv{
    align-content: space-around;
    justify-content: space-evenly;
}

.container{
    margin-top: 3em;
}

.form-inline{
    background-color: #e9ecef;
    /* border: 2px solid black; */
    border-radius: 5px;
}

.Gryffindor{
    background-color: rgb(146, 84, 84);
}

.Hufflepuff{
    background-color: goldenrod;
}

.Ravenclaw{
    background-color: rgb(90, 96, 151);
}

.shiftForm{
    margin-left: auto;
}

.Slytherin{
    background-color: rgb(116, 150, 116);
}

#sortButton{
    margin-left: 2em;
}

#staticEmail{
    font-size: 1.5em;
}
