body{
    background-color: darkgreen;
}

.container{
    margin-top: 3em;
}

.form-inline{
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

#staticEmail{
    font-size: 1.5em;
}
